###
# NODEJS EXPRESSJS ANGULARJS
###
node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist
dev
/server/config/local.env.js
/server/api/listOfWebsites.json

###
# system SWAP, TMP and BACKUP files
###
*~
*.swp
*.bak

###
# Windows
###
Thumbs.db

###
# Mac OS X directory preferences
###
.DS_Store
._*

###
# System
###
_gsdata_
blank.gif
empty.empty
*.codekit
assets/captcha/*

###
# Sublime
###
sftp-config.json

###
# SCSS Files
###
.sass-cache/

#AuthFiles
auth.js
authentication.js

# Images
server/one-click-casper-scripts/designerLaunch/*.png
server/*.png
/*.png
/*.jpg
