html {
  padding:0;
  background:#252524;
}

.one-click {
  background:#252524;
  top:0;
  bottom:0;
  left:0;
  right:0;
  position: absolute;
}

form[name="setupForm"] {
  border-radius: 5px;
  width: 80%;
  max-width: 990px;
  margin: 5% auto 0;
}

.setupBackground {
  background: #fff;
  padding: 0 4% 4% 4%;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.websiteDetails {
  margin-bottom: 20px;
}
