<div class="one-click">
    <form name="setupForm" class="group" novalidate ng-submit="setupValidation()">
        <div class="logo textCenter">
            <img src="/assets/images/logo.png" width="200">
            <h3>One Click Setup</h3>
        </div>
        <div class="setupBackground group">
            <div class="loading" ng-show="loading"></div>
            <div class="alert" ng-class="setupNotice.alertLevel" ng-show="setupNotice.active">{{setupNotice.alertMessage}}</div>
            <div class="container-fluid" ng-hide="masterAdminForm">
              <div class="websiteDetails">
                <h3>Website Details</h3>
                <div class="row">
                  <div class="formGroup col-sm-6">
                      <label>Selected Website: {{formData.website}}</label>
                      <select ng-model="formData.website" required>
                        <option ng-repeat="website in listOfWebsites" ng-value="website">{{website}}</option>
                      </select>
                  </div>
                  <div class="formGroup col-sm-6">
                      <label>Website Live URL: (Do not include http://)</label>
                      <input autocorrect="off" autocapitalize="off" ng-class="hasError" type="text" placeholder="Website URL" ng-model="formData.websiteURL" required>
                  </div>
                </div>
                <div class="row">
                  <div class="formGroup col-sm-6">
                      <label>Winery Email</label>
                      <input autocorrect="off" autocapitalize="off" ng-class="hasError" type="text" placeholder="Winery Email" ng-model="formData.wineryEmail" required>
                  </div>
                  <div class="formGroup col-sm-6">
                      <label>Country</label>
                      <select ng-model="formData.country" required>
                        <option ng-repeat="country in listOfCountries" ng-value="country">{{country}}</option>
                      </select>
                  </div>
                </div>
                <div class="row">
                  <div class="formGroup col-sm-6">
                      <label>State/Province:</label>
                      <input autocorrect="off" autocapitalize="off" ng-class="hasError" type="text" placeholder="State/Province" ng-model="formData.state" required>
                  </div>
                  <div class="formGroup col-sm-6">
                      <label>City</label>
                      <input autocorrect="off" autocapitalize="off" ng-class="hasError" type="text" placeholder="City" ng-model="formData.city" required>
                  </div>
                </div>
              </div>
              <div class="setupSettings">
                <h3>Setup Settings</h3>
                <div class="row">
                  <div class="formGroup col-sm-6">
                      <label>Is this website Vin65 Plus?</label>
                      <input autocorrect="off" autocapitalize="off" value="true" type="checkbox" ng-model="formData.v65plus">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="formGroup col-sm-3">
                    <button type="submit" ng-disabled="setupForm.$invalid" class="button green buttonBlock">Setup Site</button>
                </div>
              </div>
            </div>
        </div>
    </form>
</div>
