<!-- <div class="container">
        <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                        <h1 class="text-center login-title">Vin65 One Click Setup</h1>
                        <div class="account-wall">
                                <form class="form-signin" ng-submit="loginValidation()">
                                    <input type="text" ng-model="user.username" class="form-control" placeholder="Username" required autofocus>
                                    <input type="password" ng-model="user.password" class="form-control" placeholder="Password" required>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                </form>
                        </div>
                </div>
        </div>
</div> -->

<div class="login">
  <form name="loginForm" class="group" novalidate ng-submit="loginValidation()">
    <div class="logo textCenter">
      <img src="/assets/images/logo.png" width="200">
      <h3>One Click Setup</h3>
    </div>
    <div class="loginBackground group">
      <div class="loading" ng-show="loading"></div>
      <div class="alert" ng-class="loginNotice.alertLevel" ng-show="loginNotice.active">{{loginNotice.alertMessage}}</div>
      <div>
        <div class="formGroup">
          <label>Username</label>
          <input autocorrect="off" autocapitalize="off" ng-class="hasError" type="text" placeholder="Username" ng-model="formData.username" required>
        </div>

        <div class="formGroup">
          <label>Password</label>
          <input autocorrect="off" autocapitalize="off" ng-class="hasError" type="password" placeholder="Password" ng-model="formData.password" required>
        </div>

        <div class="formGroup">
          <button type="submit" class="button green buttonBlock">Login</button>
        </div>
      </div>

    </div>
  </form>
</div>
