<div class="login">
    <form name="loginForm" class="group" novalidate ng-submit="loginValidation()">
        <div class="logo textCenter">
            <img src="/assets/images/logo.png" width="200">
            <h3>One Click Setup</h3>
        </div>
        <div class="loginBackground group">
            <div class="loading" ng-show="loading"></div>
            <div class="alert" ng-class="loginNotice.alertLevel" ng-show="loginNotice.active">{{loginNotice.alertMessage}}</div>
            <div ng-hide="masterAdminForm">
                <div class="formGroup">
                    <label>Username</label>
                    <input autocorrect="off" autocapitalize="off" ng-class="hasError" type="text" placeholder="Username" ng-model="formData.username" required>
                </div>
                <div class="formGroup">
                    <label>Password</label>
                    <input autocorrect="off" autocapitalize="off" ng-class="hasError" type="password" placeholder="Password" ng-model="formData.password" required>
                </div>
                <div class="formGroup">
                    <button type="submit" ng-disabled="loginForm.$invalid" class="button green buttonBlock">Login</button>
                </div>
            </div>
            <div ng-show="masterAdminForm">
              <div class="formGroup">
                <label>Select Website to Setup</label>
                <select ng-model="formData.website">
                  <option ng-repeat="website in listOfWebsites" ng-value="website">{{website}}</option>
                </select>
              </div>
              <div class="formGroup">
                <div class="formGroup">
                  <button type="button" ng-click="selectWebsite(formData.website)" class="button green buttonBlock">Select</button>
                </div>
                <div class="formGroup">
                  <button type="button" ng-click="cancelLogin()" class="button generic buttonBlock">Cancel</button>
                </div>
              </div>
            </div>
        </div>
    </form>
</div>
